.search_bar {
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 24px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    margin-bottom: 20px;
}

.logo {
    display: block;
    width: 300px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.main {
    margin-top: 100px;
}

.btn_wrapper {
    display: flex;
    justify-content: center;
}

.btn {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    background: #dfe1e5;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid white;
}

.btn:hover {
    border: 1px solid black;
}

.btn:active {
    border: 1px solid white;
    background: #ccced1;
}

.search_bar:hover {
    background: rgb(242, 242, 242);
}
 



